<main> {{!-- Suhbat --}}
    <div class="register">
        <div class="newregister">
            <div class="card card-default">
                <div class="card-header">
                    <label class="logo-title" for=""><span>Suhbatga</span> hush kelibsiz</label>
                    <h3 class="card-title">Muvaffaqiyatga erishish hato qilishdan boshlanadi</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row-register">
                        <div class="col-register">
                            <form action="/suhbat">
                                <div class="form-group">
                                    <div class="form-action">
                                        <label>Mamlakat</label>
                                        <select class="form-control-login select2" style="width: 100%;">
                                            <option selected="selected">Uzbekistan</option>
                                            <option>Alaska</option>
                                            <option>Russia</option>
                                            <option>California</option>
                                            <option>Kazakstan</option>
                                            <option>Turkiya</option>
                                            <option>Washington</option>
                                            <option>Delaware</option>
                                            <option>Alabama</option>
                                            <option>Tennessee</option>
                                            <option>Texas</option>
                                        </select>
                                    </div>
                                    <div class="form-action nametil">
                                        <label>Mobil raqamingiz</label>
                                        <input type="number" placeholder="Mobil raqamingiz" name="mobilnumber">
                                    </div>
                                    <div class="form-action nametil">
                                        <label>O'zingiz haqingizda</label>
                                        <input type="number" placeholder="Mobil raqamingiz" name="userbiografia">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="user-name">
                                        <label>Haqiqiy Ismingiz</label>
                                        <input type="text" placeholder="Ismingiz" name="username">
                                    </div>
                                    <div class="user-email">
                                        <label>Email manzilingiz</label>
                                        <input type="text" placeholder="email" name="email">
                                        <input type="password" placeholder="Parol" name="password1">
                                        <input type="password" placeholder="Parolni takrorlang" name="password2">
                                    </div>
                                    {{!-- <div class="user-gender">
                                        <input type="radio" name="dd">
                                        <input type="radio" name="dd">
                                    </div> --}}
                                    <div class="register-button">
                                        <button><a href="/suhbat">Create ></a></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>