{{!-- *************************************************************
// Copyrite Suhbat 2021 --
// Suhbat -- 1.0.0 v
// * After > > Sardor Tojimurodov
************************************************************** --}}

{{!-- //=============================================================== // Header start // --}}
<nav>
    <header>
        <div class="container-fluid con-fluid">
            <div class="content">
                <div class="content-line">
                    <div class="line-box">
                        <div class="slide-left">
                            <div class="slide-bull">
                                <div class="menu">
                                    <div class="menu-content">
                                        <div class="min-content">
                                            <div class="profil-info">
                                                <div class="profil-img"> {{!-- Fodalanuvchi haqida ^ --}}
                                                    <div class="settings">
                                                        <div class="setting-menu">
                                                            <button>...</button>
                                                        </div>
                                                    </div>
                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg">
                                                    <div class="profil-users">
                                                        <span class="username">Sardor</span>
                                                        <span class="usersphone">+990967443322</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="groups-gp">
                                                <div class="groups-drop">
                                                    <div class="group">
                                                        <ul> {{!-- O'zgaruvchi guruhlar ^^ --}}
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="group-item-li">
                                                                <a href="#!" class="group-ul">
                                                                    <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg"
                                                                        alt="">
                                                                    <div class="group-content">
                                                                        <span class="group-name">Change it academy
                                                                            rasmiy sahifamizga hush kelibsiz</span>
                                                                        <span class="commit-li">#IT It sohasi bizning
                                                                            kelajagimiz kelajakni siz bilan </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="SUHBAT"> {{!-- Suhbat Copyright 2021 ^^^ --}}
                                                <a href="#!">Suhbat</a>
                                                <span>Barcha huquqlar himoyalangan</span>
                                                <p>Copyright 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fixed-flure">{{!-- O'zgaruvchi guruh ma'lumotlari guruh haqida --}}
                            <div class="nav-fixed-top">
                                <div class="fixed-info">
                                    <div class="group-fixed-top">
                                        <a class="group-link-info" href="#!">
                                            <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg" alt="png">
                                            <div class="followers">
                                                <span class="group_name">Change it academy</span>
                                                <div class="followers-in">
                                                    <span class="foollower-num">234154</span><span>Obunachi</span>
                                                </div>
                                                <button class="sMenu">
                                                    <i class="fad fa-bars"></i>
                                                </button>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="context-users">
                                <div class="context users-txt txt-grid">
                                    {{!-- Asosiy muloqot uchun --}}
                                    <div class="group-message">
                                        <div class="meta-msg">
                                            <div class="data-group"> {{!-- O'zgaruvchi contentlar ^^^ --}}
                                                <div class="version">
                                                    <span>Sayt ishlab chiqilmoqda... Kamchilik va
                                                        qo'shimchalar bo'lishi mumkin "SUHBAT"
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-fixed-bottom">
                                <div class="fixed-info">
                                    <form class="form-actions">
                                        <div class="form-input">
                                            <div class="border-input">
                                                <div class="input-group">
                                                    <input class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="slide-right">{{!-- Guruh va shartlar --}}
                            <div class="slide-bull">
                                <div class="menu">
                                    <div class="menu-content">
                                        <div class="min-content">
                                            <div class="profil-info">
                                                <div class="profil-img">
                                                    <a class="group-link-info" href="#!">
                                                        <img src="/images/veeterzy-sMQiL_2v4vs-unsplash.jpg" alt="png">
                                                        <div class="followers">
                                                            <span class="group_name">Change it academy</span>
                                                            <div class="followers-in">
                                                                <span
                                                                    class="foollower-num">234154</span><span>Obunachi</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="group-title-info">
                                                <div class="title">
                                                    <section>
                                                        <a href="#!">s.su/change_it_academy</a>
                                                    </section>
                                                </div>
                                                <div class="title-text-goup">
                                                    <span>
                                                        Change it academy rasmiy kanali 2021
                                                        It olami
                                                        Dasturlash
                                                        Bizni ijtimoiy tarmoqlarimiz
                                                        Instagrma YouTube Linkedin
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</nav>
{{!-- // ================================================================== // Header end // --}}