* {
  box-sizing: border-box !important;
  text-decoration: none;
  list-style: none;
}

/*  O'zgardi */

html,
body,
nav,
header,
.container-fluid {
  height: 100%;
}

.container-fluid {
  padding: 0;
}

.con-fluid {
  position: relative;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-line {
  position: relative;
  width: 100%;
  height: 100% !important;
}

.line-box {
  min-width: 100%;
  min-height: 100%;
  background-color: #cbcbcb;
  display: flex;
  justify-content: space-between;
}

.slide-left {
  min-width: 17%;
  min-height: 100%;
  background: #0f402e;
  border-right: 2px solid #365c3b;
  border-left: 2px solid #365c3b;
}

.slide-right {
  min-width: 21%;
  transition-duration: 2s !important;
  min-height: 100%;
  background: #0f402e;
  border-right: 2px solid #365c3b;
  border-left: 2px solid #365c3b;
}

.fixed-flure {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.nav-fixed-top {
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 1;
  background: #0f402e;
}

.nav-fixed-bottom {
  width: 100%;
  height: 69px;
  bottom: 0;
  position: absolute;
  background: #0f402e;
  /* border-top: 2px solid #191919; */
}

.context-users {
  background: #124e38;
  width: 100%;
  height: 100%;
}

.slide-bull,
.menu,
.menu-content,
.min-content {
  height: 100% !important;
}

.slide-left .profil-info {
  background: #0f402e;
  border-bottom: 1px solid #365c3b;
  height: 133px;
}

.slide-left .profil-img {
  display: flex;
  align-items: center;
  padding: 9px 0 9px 15px;
}

.slide-left .profil-img img {
  height: 69px;
  width: 71px;
  border-radius: 50%;
  padding: 5px;
  background: #38383840;
}

.slide-left .username {
  display: block;
  padding-left: 3px;
  font-size: 19px;
}

.slide-left .profil-users {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 11px 9px 0;
}

.slide-left .profil-users span {
  color: #cbcbcb;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.group ul li a img {
  width: 69px;
  height: 67px;
  border-radius: 50%;
  padding: 5px;
}

.group ul li a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.group-name {
  max-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  color: #cbcbcb;
  font-family: "Work Sans", sans-serif;
}

.commit-li {
  max-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  color: #3f7ccd;
  font-family: "Work Sans", sans-serif;
}

.group ul {
  padding: 0;
  margin: 0;
}

.group-item-li {
  height: 67px;
  background-color: #0f402e;
}

.group-item-li:hover {
  background-color: #1d261d;
}

.data-group .group-content {
  width: 100%;
  max-width: 50%;
  height: auto;
  padding: 11px 3px 9px 3px;
}

.group-fixed-top img {
  width: 69px;
  border-radius: 50%;
  padding: 5px;
  height: 67px;
}

.fixed-info {
  height: 100%;
}

.group-fixed-top {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.group-fixed-top .group-link-info {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.group-fixed-top .group_name {
  display: block;
  margin: 0;
  width: 100%;
  color: #cbcbcb;
  overflow: hidden;
  max-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  text-overflow: ellipsis;
  margin: 3px 5px;
  font-family: "Work Sans", sans-serif;
}

.followers {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.noneF {
  display: none;
  opacity: 0.5;
}

.followers-in span {
  color: #8f8f8f;
  margin: 3px 5px;
  font-family: "Work Sans", sans-serif;
}

.followers-in .foollower-num {
  font-family: "Work Sans", sans-serif;
}

.groups-gp {
  flex: 1;
  border-bottom: 1px solid #365c3b;
}

.group {
  height: 761px;
  overflow-y: auto;
  pointer-events: all;
  transition: scrollbar-color 0.3s ease;
}

.groups-drop {
  animation-fill-mode: forwards !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 11px;
}

.profil-img .group-link-info img {
  width: 80px;
  height: 78px;
  padding: 5px;
  border-radius: 50%;
}

.profil-img .group-link-info {
  display: flex;
  align-items: center;
  align-content: center;
  text-decoration: none;
  color: #2c2c2c;
}

.profil-img .group_name {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  font-size: 21px;
  color: #cbcbcb;
  padding: 5px 0 0 5px;
}

.slide-right .profil-info {
  background-color: #0f402e;
  padding: 17px;
  height: 153px;
  border-bottom: 3px solid #365c3b;
}

.profil-info .profil-img {
  height: 100%;
  position: relative;
}

.settings {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-90deg);
}

.settings button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 33px;
  font-family: serif;
  color: #a4c4b9;
  font-family: "Work Sans", sans-serif;
}

.group-title-info .title {
  padding: 19px 20px;
}

.title a {
  display: flex;
  overflow: hidden;
  max-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  text-overflow: ellipsis;
  margin-bottom: 27px;
}

.title section {
  position: relative;
}

.title {
  border-bottom: 1px solid #365c3b;
}

section a::after {
  content: "Havola";
  position: absolute;
  left: 0;
  top: 23px;
  color: #6c6c6c;
}

.title-text-goup {
  padding: 19px 33px;
  background: #0f402e;
  border-bottom: 1px solid #365c3b;
}

.meta-msg .data-group {
  /* padding-top: 83px;
  padding-bottom: 107px; */
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* .group-message .meta-msg {
  height: 100%;
} */

.title-text-goup span {
  white-space: pre-line;
  color: #c9c9c9;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.3px;
}

.SUHBAT {
  padding: 29px 0 0 9px;
}

.SUHBAT a {
  color: #cbcbcb;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;
  font-size: 29px;
  text-decoration: none;
  display: block;
}

.followers {
  position: relative;
}

.followers button {
  background: none;
  border: none;
  position: absolute;
  top: 31px;
  right: 11px;
}

.followers button .fa-bars {
  font-size: 27px;
  color: #9ccda0;
}

p {
  padding: 0;
  margin: 0;
}

.SUHBAT span {
  color: #b1b1b1;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.SUHBAT p {
  color: #b1b1b1;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.active {
  display: none;
}

.users-txt {
  width: 100%;
  height: 100%;
  /* padding: 8.5% 3% 6.4%; */
}

.txt-grid {
  padding-bottom: 143px;
  position: absolute;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.txt-grid .group-message {
  padding: 8.5% 3% 1.4%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.data-group .group-content .message {
  max-width: max-content;
  display: flex;
  align-items: center;
  align-content: center;
  background: #d9d9d9;
  padding: 3px 9px;
  position: relative;
  width: auto;
  margin: 9px 55px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 33px;
  border: 3px solid #124017fc;
}

.data-group .group-content .message::after {
  content: "";
  width: 0px;
  height: 0px;
  background-color: #010c01;
}

.context-group {
  position: relative;
  width: 100%;
  padding: 1px 57px 3px 2px;
}

.avatar-text {
  white-space: pre-line;
  font-size: 13px;
  display: flex;
}

.avatar-text p {
  font-family: "Work Sans", sans-serif;
  color: #000;
  font-size: 14px;
}

.avatar-img img {
  width: 63px;
  height: 61px;
  border-radius: 50%;
  padding: 5px;
  background-color: #1a1a1a4d;
  position: relative;
}

user-online {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  display: inline-grid;
  background: #1c991a;
  border: 1px solid #131a15;
}

/* 
Suhbat uchun mavzular ***** :) **** >>

#0f0f40 To'q ko'k rang :)

#0f3e40 To'q havo rang :)

#0f402e Och yashil rang :)

#402a0f Och jigar rang :)

#40210f To'q jigar rang :)

#40160f Och qizg'ish rang :)

*/

avatar-im {
  position: absolute;
  bottom: -25px;
  left: -73px;
}

data-time {
  position: absolute;
  top: 0;
  right: 0;
  color: #3e3e3e;
  font-family: sans-serif;
  font-weight: 700;
}

.form-actions {
  position: relative;
}

.fixed-info .form-input {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  position: absolute;
  left: 0;
  right: 0;
  top: -59px;
  justify-content: center;
}

.form-input .border-input {
  width: 55%;
  height: 51px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 33px;
  padding: 13px 33px;
  background: #062017a2;
  transition: border-color ease-in-out 0.09s, box-shadow ease-in-out 0.09s;
}

.fixed-info .form-input input {
  width: 100%;
  border: none;
  background: none;
  box-shadow: none;
  color: rgb(192, 207, 190);
  background-color: initial !important;
}

.fixed-info .form-input input:focus {
  outline: none;
  background: none;
  background-color: initial !important;
}

.fixed-info .form-input input::placeholder {
  color: rgb(192, 207, 190);
  font-family: "Work Sans", sans-serif;
  background-color: initial !important;
}

.fixed-info .form-input .border-input:focus-within {
  box-shadow: 0px 0px 5px 0px rgba(61, 233, 70, 0.445);
  /* box-shadow: 0px 0px 3px 2px #0f402e; */
  background: none;
}

.avatar-name .name {
  font-family: "Work Sans", sans-serif;
}

.Welcom {
  position: absolute;
  top: 177px;
  max-width: max-content;
  width: 299px;
  left: 35%;
  right: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  filter: drop-shadow(0px 0px 3px rgb(57, 255, 191));
}

.s-h-info {
  width: 100%;
  height: 35px;
  border-radius: 33px;
  background: #6bd99c;
  color: rgb(43 43 43);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  border: 1px solid;
}

.Welcom .s-n-info {
  display: block;
  font-size: 13px;
  max-width: max-content;
  height: 23px;
  background: #6bd99c;
  font-weight: 600;
  color: #454545;
  border-radius: 33px;
  padding: 1px 7px;
  margin-bottom: 3px;
  margin-top: 3px;
  font-family: "Work Sans", sans-serif;
  border: 1px solid;
}

.avatar-text span {
  width: 100%;
  word-break: break-word;
}

.nest-None {
  display: none;
}

@media (max-width: 1433px) {
  .slide-right .profil-info {
    height: 137px;
    border-bottom: 4px solid #365c3b;
    padding: 13px;
  }

  .group-name {
    font-size: 14px;
  }

  .commit-li {
    font-size: 13px;
  }

  .SUHBAT a {
    font-size: 27px;
  }

  .SUHBAT span {
    font-size: 15px;
  }

  .title-text-goup span {
    font-size: 13px;
  }
}

@media (max-width: 1393px) {
  .profil-img .group_name {
    font-size: 19px;
  }

  .followers-in span {
    font-size: 14px;
  }

  .group ul li a img {
    width: 58px;
    height: 56px;
  }

  .SUHBAT a {
    font-size: 21px;
  }

  .SUHBAT span {
    font-size: 14px;
  }

  .SUHBAT p {
    font-size: 14px;
  }

  .slide-left {
    min-width: 19%;
  }

  .data-group .group-content .message {
    margin: 9px 55px;
  }
}

@media (max-width: 1307px) {
  .profil-img .group_name {
    font-size: 17px;
  }

  .slide-right {
    min-width: 22%;
  }

  .slide-left .profil-users .usersphone {
    font-size: 13px;
  }

  .data-group .group-content .message {
    margin: 9px 63px;
  }

  .data-group .group-content {
    max-width: 73%;
  }
}

@media (max-width: 1199px) {
  .group-name {
    font-size: 13px;
  }

  .data-group .group-content {
    max-width: 79%;
  }

  .data-group .group-content .message {
    margin: 9px 67px;
  }

  .avatar-text {
    font-size: 13px;
  }

  .commit-li {
    font-size: 12px;
  }

  .slide-left .username {
    font-size: 18px;
  }

  .slide-left .profil-users .usersphone {
    font-size: 12px;
  }

  .slide-left {
    min-width: 20%;
  }

  .profil-img .group_name {
    font-size: 16px;
  }

  .profil-img .group-link-info img {
    width: 69px;
    height: 67px;
  }

  .slide-right .profil-info {
    height: 115px;
  }

  .slide-right {
    min-width: 23%;
  }

  .slide-left {
    min-width: 22%;
  }
}

@media (max-width: 1041px) {
  .profil-img .group_name {
    font-size: 15px;
  }

  .data-group .group-content .message {
    margin: 9px 71px 0 63px;
  }

  .data-group .group-content {
    max-width: 100%;
  }

  /* .followers-in .foollower-num {} */

  .followers-in span {
    font-size: 12px;
  }

  .slide-right .profil-info {
    padding: 5px;
    height: 102px;
  }

  .nav-fixed-top {
    height: 81px;
  }

  .slide-left .profil-info {
    height: 106px;
  }

  .slide-left .profil-users .usersphone {
    font-size: 12px;
  }

  .slide-left .username {
    font-size: 16px;
  }

  .slide-left .profil-img img {
    height: 58px;
    width: 60px;
  }

  .slide-left {
    min-width: 23%;
  }

  ::-webkit-scrollbar {
    width: 9px;
  }

  .title-text-goup {
    padding: 19px 19px;
  }
}

@media (max-width: 991px) {
  .slide-right {
    display: none;
  }

  .data-group .group-content {
    max-width: 100%;
  }

  .data-group .group-content .message {
    margin: 9px 79px 0 63px;
  }
}

@media (max-width: 579px) {
  .avatar-text {
    font-size: 12px;
  }
}